<%- include('partials/header') %>
<%if( error && error.length ){%>
  <div class="container">
    <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert"  style="width:65%;">
      <%=error%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<%}%>


<div class="container mt-5">
  <h1 style="color:rgb(201, 184, 161); text-shadow: 1px 1px #FF0000;">Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
      <div style=" text-align: center; background-color: black;">
        <p style="display: inline-block;color: rgb(201, 184, 161);">Already a User?...</p>
        <a href="/login" role="button">Login</a>
      </div>

    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/header') %>
